In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [32]:
df = pd.read_csv("TRNcod.xls", sep='\t')

In [33]:
df.head(3)

,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
0,0,1,1,1,0,0,0,0,0.135098,1,...,0,0,1,1,0,1,1,1,0,1
1,1,1,0,1,0,0,1,0,0.273504,1,...,0,1,0,1,1,0,0,0,1,0
2,2,1,0,1,0,0,1,0,0.281910,0,...,1,1,0,0,0,0,1,0,1,0

In [47]:
df.drop(inplace=True, columns=['INDEX'])

## Classe 0

In [34]:
index_list_0 = list(df[df['IND_BOM_1_1'] == 1].index)

In [35]:
index_list_train_0, index_list_test_0 = train_test_split(index_list_0, test_size=0.5, random_state=23, shuffle=True)
index_list_test_0, index_list_val_0 = train_test_split(index_list_test_0, test_size=0.5, random_state=23, shuffle=True)

In [36]:
print(f"Total size: {len(index_list_0)} \nTrain size: {len(index_list_train_0)} \nTest and val size: {len(index_list_test_0)} and {len(index_list_val_0)}")

Total size: 255098
Train size: 127549
Test and val size: 63774 and 63775

## Classe 1

In [37]:
index_list_1 = list(df[df['IND_BOM_1_2'] == 1].index)

In [38]:
index_list_train_1, index_list_test_1 = train_test_split(index_list_1, test_size=0.5, random_state=23, shuffle=True)
index_list_test_1, index_list_val_1 = train_test_split(index_list_test_1, test_size=0.5, random_state=23, shuffle=True)

In [39]:
print(f"Total size: {len(index_list_1)} \nTrain size: {len(index_list_train_1)} \nTest and val size: {len(index_list_test_1)} and {len(index_list_val_1)}")

Total size: 134098
Train size: 67049
Test and val size: 33524 and 33525

### Balanceamento

#### Train set

In [40]:
dif_classes = len(index_list_train_0) - len(index_list_train_1)
index_list_train_1.extend(index_list_train_1[0:(dif_classes)])
print(f"Class 1 train set new size: {len(index_list_train_1)}")

Class 1 train set new size: 127549

#### Validation set

In [41]:
dif_classes = len(index_list_val_0) - len(index_list_val_1)
index_list_val_1.extend(index_list_val_1[0:(dif_classes)])
print(f"Class 1 validation set new size: {len(index_list_val_1)}")

Class 1 validation set new size: 63775

## Train dataset

### Concatenação e randomização

In [43]:
index_list_train = index_list_train_0 + index_list_train_1
index_list_train = shuffle(index_list_train, random_state=23)

In [44]:
print(f"Train set total size: {len(index_list_train)}")

Train set total size: 255098

### Geração de arquivo

In [49]:
df.iloc[index_list_train].to_csv('TRNcod_train_set.csv', index=False)

## Test dataset

### Concatenação e randomização

In [50]:
index_list_test = index_list_test_0 + index_list_test_1
index_list_test = shuffle(index_list_test, random_state=23)

In [51]:
print(f"Test set total size: {len(index_list_test)}")

Test set total size: 97298

### Geração de arquivo

In [52]:
df.iloc[index_list_test].to_csv('TRNcod_test_set.csv', index=False)

## Validation dataset

### Concatenação e randomização

In [53]:
index_list_val = index_list_val_0 + index_list_val_1
index_list_val = shuffle(index_list_val, random_state=23)

In [54]:
print(f"Val set total size: {len(index_list_val)}")

Val set total size: 127550

### Geração de arquivo

In [55]:
df.iloc[index_list_val].to_csv('TRNcod_val_set.csv', index=False)